<a href="https://colab.research.google.com/github/MK2709/my_colab_pyhton_exercises/blob/main/From_Zero_to_Hero_Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

COLLECTION TYPES
> LISTS

In [ ]:
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

print(country)

['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']

In [ ]:
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # we created multi element list with list() function
print(new_list)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

.append() methodu ile listeye eleman ekleme

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city)
city.append('Addis Ababa') #Listenin "SONUNA EKLER"
print(city)

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
print(city)
city.insert(2, 'Stockholm') #Index numarasi ile ekleme. Index Sifirdan baslar
print(city)
city.insert(4,'Erzurum')
print(city)
print(len(city)) # len()fonksiyonu ile listenin elemanlarinin sayisini bulma
city.remove('Erzurum')
print(city)
print(list(reversed(city))) # REVERSED fonksiyonun isletebilmek icin tekrar listeye donusturmen gerekir
del city[0] #Liste icerisinde verilen indeks numarasindaki itemi silmek icin kullanilir
print(city)
city.insert(0,'New York')
print(city)
print("Cikartilan Sehir : ", city.pop(3))
print("Updated City List :", city)
city.insert(3,"Istanbul")
print(city)

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
['New York', 'London', 'Stockholm', 'Istanbul', 'Erzurum', 'Seoul', 'Sydney', 'Addis Ababa']
8
['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
['Addis Ababa', 'Sydney', 'Seoul', 'Istanbul', 'Stockholm', 'London', 'New York']
['London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
Cikartilan Sehir :  Istanbul
Updated City List : ['New York', 'London', 'Stockholm', 'Seoul', 'Sydney', 'Addis Ababa']
['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [ ]:
# programming languages list
languages = ['Python', 'Java', 'C++', 'Ruby', 'C']

# remove and return the last item
print('When index is not passed:') 
print('Return Value:', languages.pop()) #default value -1,en sondaki elemani cikartir

print('Updated List:', languages)

# remove and return the last item
print('\nWhen -1 is passed:') 
print('Return Value:', languages.pop(-1))

print('Updated List:', languages)

# remove and return the third last item
print('\nWhen -3 is passed:') 
print('Return Value:', languages.pop(-3))

print('Updated List:', languages)

When index is not passed:
Return Value: C
Updated List: ['Python', 'Java', 'C++', 'Ruby']

When -1 is passed:
Return Value: Ruby
Updated List: ['Python', 'Java', 'C++']

When -3 is passed:
Return Value: Python
Updated List: ['Java', 'C++']

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

city_list = []
city_list.append(city) # we have created a nested list

print(city_list) #Tek bir elemani olan (city) bir lsite yaptik. 
print(city_list[0]) #listenin tek elemani Sifirinci indexte. 1 yazsaydik hata verir
print(city_list[0][2]) #city_list'in 0'inci indeksindeki listenin 2'inci indexteki elemani
print(city_list[0][2][4])#city_listin 0'inci indeksindeki 2'inci indeksin 4'uncu indexteki elemani

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
Istanbul
n

In [ ]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits) #fruits listeyi fruit_list'in icine komple append etti
print(fruit_list) #yeni olusan ve 1 elemani olan  fruit_list yazdirdi
print(fruit_list[0]) # ilk ve tek elemanini; 0'inci indeksteki elemani yazdirdi
print(fruit_list[0][2]) # 0'inci indexteki elemanin 2'inci indeksindeki elemani
print(fruit_list[0][2][7]) # watermelon listesinin 7'inci elemani(harfi)

[['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']]
['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']
watermelon
l

In [ ]:
count = list(range(11)) #iki tane fonksiyon var.
                        #1-list() fonksiyonu-Listeye cevirmek icin kullanilir
                        #2-range() fonksiyonu-0'dan fonksiyonda belirtilen sayiya kadar yazar
print(count)

print(count[0:11:2]) #0 dan 11'e kadar olan listeyi 2'ser 2'ser yazdir. [start:stop:step]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [ ]:
print(len([[12, 34, 56]][0]))

3

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple') # listede kac tane apple geciyor
fruits.index('banana') #listede ilk 'banana' kacinci indexte
fruits.reverse()#lsisteyi tersten yazadirdi
fruits.reverse()#lsisteyi tersten yazadirdi
fruits.append('grape') #listenin sonuna 'grape' ekledi
fruits.sort() #listeyi elemanlarini alfabetik siraya gore dizip yeniden yazdirid
fruits.append('avocado')
print(sorted(fruits))
print(fruits)
new_fruits = fruits.sort()
print(sorted(fruits, reverse=True)) #listeyi hem alfabetik olaraj siraladi hemde terse cevirdi

['apple', 'apple', 'avocado', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear', 'avocado']
['pear', 'orange', 'kiwi', 'grape', 'banana', 'banana', 'avocado', 'apple', 'apple']

COLLECTION TYPES
> TUPLES

In [ ]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)
print(my_tuple)
#my_tuple.append(1)# tuple immutble, yani belirlenen liste degistirilemez
my_list = list(my_tuple)
print(type(my_list), my_list)
my_list.append(12)
print(my_list) #Tuple degistirilemiyor ama listeye cevirip degisiklik yapabiliriz

(1, 4, 3, 4, 5, 6, 7, 4)
<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]
[1, 4, 3, 4, 5, 6, 7, 4, 12]

In [ ]:
memleket = tuple('Erzurum') #stringler Tuple yapilabilir
print(memleket) 
print(memleket[0])
print(memleket[0:6:2]) #ayni listelerde oldugu gibi indexleme yapabiliriz
print(len(memleket)) #tuple larda da len() fonksiyonunu kullanabiliyoruz
count=memleket.count('z') #tuple larda da count() fonksiyonunu kullanabiliyoruz
print(count)
#memleket.sort() #tuple lar imutable-degistirilemez oldugu icin sort() calismaz
print(sorted(memleket)) #burada tuple degeri degisitirilmedigi icin bu sonuc verir
print(memleket)
#print(memleket.reverse()) # tuple immutable oldugu icin hata verir.

('E', 'r', 'z', 'u', 'r', 'u', 'm')
E
('E', 'z', 'r')
7
1
['E', 'm', 'r', 'r', 'u', 'u', 'z']
('E', 'r', 'z', 'u', 'r', 'u', 'm')

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
print("My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2],flowers[0][1][1],colors[1][0], colors[1][1][1]))

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

COLLECTION TYPES
> DICTIONARIES

In [ ]:
#my_dict = {'key1': 'value1',
 #           'key2': 'value2',
  #          'key3': 'value3'
   #         }
   #DICTIONARILER OLUSTURULURKEN KEY :VALUE OLARAK OLUSTURULUR

In [ ]:

state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method KEY COLORADO ISE VALUE DENVER
print(state_capitals['California']) # KEY CALIFORNIA ISE VALUE SACRAMENTO

Denver
Sacramento

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item NOT LIKE TUPLES
                                        #WE CAN ADD ITEM/PAIR (KEY:VALUE)
print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [ ]:

#Note that keys and values can be of different types.
# We can only index them with their key values.

mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}

print(mix_values)
print(mix_keys)

{'animal': ('dog', 'cat'), 'planet': ['Neptun', 'Saturn', 'Jupiter'], 'number': 40, 'pi': 3.14, 'is_good': True}
{22: 'integer', 1.2: 'float', True: 'boolean', 'key': 'string'}

In [ ]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [ ]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(),'\n') #items()fonksiyonu ile butun degerlere ulasabilirsin
print(dict_by_dict.keys(), '\n') #keys() fonksiyonu ile key degerlerine ulasabilirsin
print(dict_by_dict.values(),'\n') #values() fonksiyonu ile value lara ulasabilirsin

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [ ]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}
print(dict_by_dict)
dict_by_dict.update({'is_bad': False}) #update() fonksiyonu ile dictionary e pair ekleyebilirsin
print(dict_by_dict,'\n')
del dict_by_dict['animal'] #del fonksiyonu ile dictionary den pair silebiliriz. key yazilmali
print(dict_by_dict)
print('pi' in dict_by_dict) #True ve/veya False degeri dondurur
print('animal' not in dict_by_dict) #ustteki satirlarda animal:dog pairini silmistik

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}
{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}
True
True

In [ ]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
print(student_ages ['Clark'])

32

In [ ]:
#NESTED DISTIONARY-ic ice gecmis dictionary
school_records={
    "personal_info": 
        {"kid":{"tom": {"class":"intermediate", "age":10},
                "sue": {"class":"elementary", "age":8}
               },
         "teen":{"joseph":{"class":"college", "age":19},
                 "marry":{"class":"high school", "age":16}
               },               
        },
}

print(school_records['personal_info']['teen']['marry']['age'])

16

In [ ]:
 tel = {'jack': 4098, 'sape': 4139} #dictionary tanimlandi
tel['guido'] = 4127 #'guido' key, 4127 value pair eklendi
tel
{'jack': 4098, 'sape': 4139, 'guido': 4127}
#tel['jack'] --> 4098 tel dictionarisinden jack key i ile value cagiriyor
#del tel['sape'] del methodu ile sape ciftini siliyor
#print (tel) --> {'jack': 4098, 'guido': 4127}
#tel['irv'] = 4127 #distionary a pair ekleniyor
#print(tel) --> {'jack': 4098, 'guido': 4127, 'irv': 4127}
# list(tel) --> ['jack', 'guido', 'irv'] list metodu

#print(sorted(tel))--> ['guido', 'irv', 'jack'] sorted() metodu

#'guido' in tel ##TRUE

#'jack' not in tel ##FALSE

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [ ]:
dict_1={x: x**2 for x in (2, 4, 6)} #for loop kullanarak Dioctionary olusturduk
print(dict_1)

{2: 4, 4: 16, 6: 36}

COLLECTION TYPES
> SET-Kumeler

In [ ]:
colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'} 
#bu kumede 2 adet 'red' integeri var.

print(colorset) #2 adet olan 'red' integeri 1 adet olarak guncellendi
print(colorset) #set/kumeler icerisindeki elemanlar siralamadan bagimsiz yazildi

{'orange', 'purple', 'yellow', 'red', 'darkblue'}
{'orange', 'purple', 'yellow', 'red', 'darkblue'}

In [ ]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list) #listeyi set olarak guncelledi
flowerlist = list(flowerset) # set olani liste olarak guncelledi

print(flowerset) 
print(flowerlist)

{'carnation', 'rose', 'violet', 'orchid'}
['carnation', 'rose', 'violet', 'orchid']

SET ile yapilan islemler

.add() : Adds a new item to the set.

.remove() : Allows us to delete an item.

.intersection() : Returns the intersection of two sets.

.union() : Returns the unification of two sets.

.difference() : Gets the difference of two sets.

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a)
print(b)
print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b iki kumenin birbirinden farki
print(a | b)  # same as '.union()' method
print(a.union(b)) #iki kumenin birlesimi
print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b-- iki kumenin kesisimi

{'c', 'r', 'a', 'b', 'd'}
{'c', 'a', 'm', 'l', 'z'}
{'r', 'b', 'd'}
{'r', 'b', 'd'}
{'c', 'r', 'a', 'b', 'd', 'm', 'l', 'z'}
{'c', 'r', 'a', 'b', 'd', 'm', 'l', 'z'}
{'c', 'a'}
{'c', 'a'}
{'r', 'a', 'b', 'd'}

In [ ]:
a = set('abracadabra')
a.remove('c') #"c" karakterini siliyoruz.
print(a)
a.add('c') # 'c' karakterini ekliyoruz
print(a)

{'r', 'a', 'b', 'd'}
{'c', 'r', 'a', 'b', 'd'}

In [ ]:
print(len(a))#len() fonksiyonunu calistiriyor
print('z' not in a) # not in fonksiyonu ile True/False degeri donduruluyor.

5
True

4

In [37]:
#max(a, b, c, ...[, key=func]) -> value
numbers_1 = [1, 3, 7, 4, 3, 0, 3, 6, 3, 6, 7, 7, 7, 7, 7, 7, 2, 4, 5, 5, 6, 6, 7, 6, 6, 12]
the_most=max(numbers_1, key=numbers_1.count)
print(the_most)
a=numbers_1.count(the_most)
print(a)
print('the most frequent number is {} and it repeats {} times'.format(the_most, a))
text=f'the most frequent number is {the_most} and it repeats {numbers_1.count(the_most)}'

7
8
the most frequent number is 7 and it repeats 8 times

In [47]:
#Find out if the given word is "comfortable words" 
#in relation to the ten-finger keyboard use.

left=set("qwertasdfgzxcvb")
right=set("yuiophjklmn")
word =set(input("word:"))
leftcheck=bool(word.intersection(left))
rightcheck=bool(word.intersection(right))
print("leftcheck value is ", leftcheck)
print('rightcheck value is ', rightcheck)
sonuc=leftcheck and rightcheck

sonuc

word:clarusway
leftcheck value is  True
rightcheck value is  True

True