<a href="https://colab.research.google.com/github/MK2709/my_colab_pyhton_exercises/blob/main/From_Zero_to_Hero_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print() kullanarak ekrana birseyler yazidirma

In [ ]:
print('Hello World!!')
print("Clarusway will change my life")
print("it's my pleasure")
print("the cosmos has no superiority to chaos")

def function(): # Don't be confused, we use 'def()' to create a function. 
                # You will see it in the next lessons.
    """
Hi, I am the docstring of this code. 
If you need any information about this function or module, read me. 
It can help you understand how the module or function works.
    """
print(function.__doc__)

Hello World!!
Clarusway will change my life
it's my pleasure
the cosmos has no superiority to chaos

Hi, I am the docstring of this code.
If you need any information about this function or module, read me.
It can help you understand how the module or function works.

In [ ]:
a= 5
b=55
c=555
print(a,b,c, sep='\t')
print(a,b,c, sep=',') #, ile ayirmak icin. sep ifadesinin icerisine yazilan ile ayrilir
print(a,b,c, sep='+') # + isareti ile ayiriyor
print(a,b,c, sep='-') # - isareti ile ayiriyor
print(a,b,c, sep='\n') # \n new line ile ayiriyor
print(a,b,c, sep='\b') #backspace-555555 olmasi gerekirken 2 adet 5 rakamini sildi
print('It\'s funny to learn pyhton') # \ ifadesi arkasindan gelen kesme isareti icin
print(a,b,c, end='*') # * isareti bitiriyor

5	55	555
5,55,555
5+55+555
5-55-555
5
55
555
555555
It's funny to learn pyhton
5 55 555*

print() Matematiksel islemler

In [ ]:
print(4+11)
print(4/2) #bolme islemi herzaman float number verir
print(7//2) # bolme islemi yapar ama tam sayiyi dondurur
print(7%2) #bolme islemini yapar ve bolumden kalani dondurur
print(3*2) #regular carpma  islemini yapar
print(3**2) # iki yildiz ustu ifadesidir - 3 un karesi
print(3**3) # 3 un kupu

15
2.0
3
1
6
9
27

print () operations- birden fazla islemi birlestirme

In [ ]:
number = 2020
text = "children deserve respect as much as adults in"
print(text, number)

children deserve respect as much as adults in 2020

In [ ]:
print('yesterday I ate', 2, 'apples') #default olarak araya bosluk verdi. Print fonksiyonu iceisinde

yesterday I ate 2 apples

In [ ]:
print('i')   #bu sekilde yazzildiginda print otomatik olarak yazilan karakterin 
print('will') #sonunda bir alta gecmek icin '\n' koyuyor ve alt satira geciyor

i
will

In [ ]:
print ('i', end=' ') #i harfini yazdiktan sonra alt satira gecmesin ve 
print('will say', end=' ') #bosluk versin diye bunu yaziyor
print("'I missed you'", end=' ')# cift tirnak icerisinde tirnak icinde ifade 
print('to my son')              # kullanildi.

i will say 'I missed you' to my son

In [ ]:
print('smoking', 'is','slowly', 'killing me',sep='+') #print icerisinde yazilan
# her bir iterible objecti birlikte yazarken kullanilan ve aralarina gelecek karakteri
#belirleyen ifade sep='+'..

smoking+is+slowly+killing me

-= decrements the variable in place,
+= increment the variable in place,
*= multiply the variable in place,
/= divide the variable in place,
//= ﬂoor divide the variable in place,
%= returns the modulus of the variable in place,
**= raise to power in place.

In [ ]:
x=5
print('value of x is', x)
x+=2 
print('2 more of x is ', x, '\n') #we use \n to get an extra empty line
y=10
print('value of y is', y)
y-=2
print('2 minus y is', y,'\n')
z=6
print('value of z is', z)
z*=2
print('2 times z is', z,'\n')

value of x is 5
2 more of x is  7

value of y is 10
2 minus y is 8

value of z is 6
2 times z is 12

In [ ]:
pi=3.14
r=5
alan=pi*r**2
print(alan)

78.5

In [ ]:
16 ** 0.5 # ustu 0.5 ifadesi kare koku icin kullaniyoruz

4.0

In [ ]:
a=3
b=4
c=((a**2)+(b**2))**0.5
print(c)  #hipotenus u bulma

5.0

In [ ]:
#Value1	 Logic	  Value2  	Returns
#True	   and	     True	     True
#True	   and	     False	   False
#False	 and	     False	   False
#False	 and	     True      False
#True   	or       True	     True
#True	    or    	 False	   True
#False	  or	     False	   False
#False	  or	     True	     True

In [ ]:
print(2 and 'hello world')
print([] and 'be happy!')
print(None and ())

hello world
[]
None

In [ ]:
fruit = 'Orange'
#string[start:stop:step].
print('Word                   : ' , fruit)
print('First letter           : ' , fruit[0])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

Word                   :  Orange
First letter           :  O
Second letter          :  r
3rd to 5th letters     :  ang
Letter all after 3rd   :  ange

In [ ]:
city = 'Phoenix'

print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [ ]:
vegetable = 'Tomato'

print('length of the word', vegetable, 'is :', len(vegetable))

#len() fonksiyonu string uzunlugunu (harflerin adedinin toplamini) verir

length of the word Tomato is : 6

#Arithmetic syntax (+, *, and =),
# % operator formatting,
# string.format() method,
# f-string formatting.

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
print("using + :", fruit + vegetable)
print("using * :", 3 * fruit)

using + : OrangeTomato
using * : OrangeOrangeOrange

In [ ]:
fruit = 'orange'
fruit += ' apple'
fruit += ' banana'
fruit += ' apricot'

print(fruit)

orange apple banana apricot

In [ ]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase)
#In the '%s' syntax : s stands for 'string'.
#In the '%.2f' syntax : f stands for 'float'. In this example 2 digits after point.
#In the '%d' syntax : d stands for 'numeric'

I have 4 children and 5.00 brothers

In [ ]:
sentence = "apologizing is a virtue"

print("%.8s" % sentence)  # we get first 8 characters of the string(sentence)
                         #ayrica % ifadesi print fonksiyonu icerisinde de kullanilabiliyor

apologiz

In [ ]:
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})
#print fonksiyounu icerisinde degisken hem belirleniyor hem deger ataniyor
#d for digit s for string .f for float..

33 pounds of bananas left

In [ ]:
x = "HelloWorld!"
print('%.5s' % x) #sadec ilk bes karakteri aldi

Hello

#'string.format()' method
#As in this example below, the value of expression comes from 
#.format() method in order. 
#Curly braces 👉🏻{} receives values from .format().

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit, amount))

The amount of Orange we bought is 4 pounds

In [ ]:
age = 28
ambition = "high"
status = "broke as hell"
goal = "get a masters degree"
year = 2008
print('when I was {}, my abitions are {}, but eventhough I was {} I decided to get {} and year was {}'
.format(age, ambition, status, goal, year))

when I was 28, my abitions are high, but eventhough I was broke as hell I decided to get get a masters degree and year was 2008

In [ ]:
print('{state} is the most {adjective} state of the {country}'
.format(state='California', country='USA', adjective='crowded'))
#we don't have to write keyword in order but we have to address/define them

California is the most crowded state of the USA

In [ ]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))
#bu ornekte de pozisyon numralari verilerek cagiriliyor

I will have found a job in 6 months

#String Formatting with 'f-string'
# Sample of a formula syntax is :
#f"strings {variable1} {variable2} string {variable3}"

In [ ]:
fruit = 'orange'
vegetable = 'eggplant'
amount=5
output=f"eve gelirken {amount}kg {fruit} ve {amount}kg {vegetable} getir"
print(output)

eve gelirken 5kg orange ve 5 eggplant getir

In [ ]:
j=f'{4*5}' #cok onemli bir detay. nomal parantezle yazarsan () string ciktisi verir
print (j) # suslu parantezi tirnak icine almazsan hata verir

20

In [ ]:
text =f"ali veli {'seli'.replace('s','d')}" # suslu parantez icerisinde islem yapilabiliyor
print(text)

In [ ]:
name = 'MARIAM'
text=f'My name is {name.capitalize()}' # suslu parantez icerisinde islem yapilabiliyor
print(text)                            # fonskiyon tanimlanip islem yapilabiliyor

My name is Mariam

In [ ]:
name='metin'
output = f'My name is {name.upper()}'
print(output)

My name is METIN

In [ ]:
name= 'metin'
job= 'Elec.Engineer'
age=42
path='Data Science'
output=(f'My name is {name.capitalize()}.'
f'I\'m an {job}. '
f'I\'m {age} years old and studying {path}')
print(output)

My name is Metin.I'm an Elec.Engineer. I'm 42 years old and studying Data Science

In [ ]:
#If you want to use multiple f-string formatting lines without parentheses, 
#you will have the other option that you can use backslash 👉🏻\ between lines.

name= 'metin'
job= 'Elec.Engineer'
age=42
path='Data Science'
output=f'My name is {name.capitalize()}.'\
f'I\'m an {job}. '\
f'I\'m {age} years old and studying {path}'
print(output)

My name is Metin.I'm an Elec.Engineer. I'm 42 years old and studying Data Science

In [ ]:
phrase = "myemailaddress@clarusway.com"

print(len(phrase))
print(phrase.startswith("@", 14))
print(phrase.endswith(".", 15, 24))

28
True
False

Problem : If you had deposited a coin on the cryptocurrency exchange that brought 7% fixed profit daily for a week, how much would your $ 1000 reach at the end of the 7th day?

In [ ]:
ana_para=1000
rate= 1.07
day = 7
faiz = ana_para*rate**day
print(faiz)

1605.7814764784307

Problem : If you had deposited a coin on the cryptocurrency exchange that brought 7% fixed profit daily for a week, how much would your $ 1000 reach at the end of the 7th day?

In [ ]:
n=7
para = 1000
faiz =1.07
vade = 0
while vade <= n:
  print (vade,"gün", para)
  para*= faiz
  vade = vade + 1

0 gün 1000
1 gün 1070.0
2 gün 1144.9
3 gün 1225.0430000000001
4 gün 1310.7960100000003
5 gün 1402.5517307000005
6 gün 1500.7303518490005
7 gün 1605.7814764784307

Main String Operations

In [ ]:
text = 'www.clarusway.com'
print(text.endswith('om'))  #endswith ve startswith ifadeleri True/False dondurur
print(text.startswith('w'))
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@", 9)) #index number 0 dan baslar ve kosulun saglanmasi
print(email.endswith("-", 10, 32)) # durumunda True/False dondurur

True
True
True
True

In [ ]:
phrase = "myemailaddress@clarusway.com"

print(len(phrase))  
print(phrase.startswith("@", 14))
print(phrase.endswith(".", 15, 24))

28
True
False

In [ ]:
sentence = "I live and work in Virginia"
swap_case = sentence.swapcase()
swap_case_c=swap_case.capitalize()
swap_case_u=swap_case.upper()
swap_case_l=swap_case.lower()
swap_case_t=swap_case.title()
swap_case_r=swap_case_t.replace('v', 'V')
print(swap_case) # buyuk harfleri kucuk kucuk harfleri buyuk yapti
print(swap_case_u) #butun harfleri buyuk harf yapti
print(swap_case_l) #butun harfleri kucuk yapti
print(swap_case_c) # sadece string in birinci harfini buyuk yapti
print(swap_case_r) #sadece kucuk v harfini buyuk V ile degistirdi

i LIVE AND WORK IN vIRGINIA
I LIVE AND WORK IN VIRGINIA
i live and work in virginia
I live and work in virginia
I LiVe And Work In Virginia

In [ ]:
space_string = "     listen first      "
print(space_string.strip()) # removes all spaces from both sides
source_string = "interoperability"
print(source_string.strip("yi"))  
# removes trailing "y" or "i" or "yi" or "iy" from both sides
ource_string = "interoperability"
print(source_string.lstrip("in"))  
# removes "i" or "n" or "in" or "ni" from the left side
ace_string = "     listen first      "
print(space_string.rstrip())  # removes spaces from ONLY the right side
source_string = "interoperability"
print(source_string.rstrip("yt"))  
# removes "y" or "t" or "yt" or "ty" from the right side

listen first
nteroperabilit
teroperability
     listen first
interoperabili

In [ ]:
print(0xA + 0xB + 0xC)

33

In [ ]:
print(r"\nhello")

\nhello

In [ ]:
print("new" "line")

newline

#Clarusway, Clarusway, Clarusway, 
	#Clarusway, Clarusway, Clarusway, 
		#Clarusway, Clarusway, Clarusway

In [ ]:
text = "Clarusway, Clarusway, Clarusway"

print(text,end=',''\n''\t')
print(text,end=',''\n''\t''\t')
print(text)

Clarusway, Clarusway, Clarusway,
	Clarusway, Clarusway, Clarusway,
		Clarusway, Clarusway, Clarusway

In [ ]:
text = "{0}! I am a {1} programmer and I {2} Clarusway ".format("Hello", "new", "love")
print(text)

Hello! I am a new programmer and I love Clarusway

Assignment - 010/02 (Measure Converter)

Task-1:

Write a short Python program that asks the user to enter Celsius temperature (it can be a decimal number), converts the entered temperature into Fahrenheit degree and prints the result.

In [ ]:
text =f"ali veli {'seli'.replace('s','d')}" # suslu parantez icerisinde islem yapilabiliyor
print(text)                                # he m yazi yazdirip hem fonksiyon calisiyor. Onemli

ali veli deli

In [ ]:
celcius= float(input('Please enter degree in Celcius'))
fahrenheit= (celcius *1.8)+32
print('{} degree is equal {} degree in fahrenheit'.format(celcius,fahrenheit))
text=f'{celcius} degree is equal {fahrenheit} degree in fahrenheit'
print(text)

Please enter degree in Celcius35
35.0 degree is equal 95.0 degree in fahrenheit
35.0 degree is equal 95.0 degree in fahrenheit

Assignment - 010/02 (Measure Converter)

Task-2:

Write a short Python program that asks the user to enter a distance (it can be a decimal number) in kilometers, converts the entered distance into miles and prints the result.

In [ ]:
kilometer= float(input('Please enter distance in kilometers : '))
miles= kilometer *0.6214
print('{} km is equal to {} miles'.format(kilometer,miles))
distance=f'{kilometer} is equal to {miles} miles.'
print(distance)
print(kilometer)
print(miles)

Please enter distance in kilometers : 100
100.0 km is equal to 62.13999999999999 miles
100.0 is equal to 62.13999999999999 miles.
100.0
62.13999999999999

In [ ]:
print (* "clarusway") # '*' isareti ile stringin her bir elemanini aralarina 
                      # 1er bosluk birakarak yazdirdik.

c l a r u s w a y

In [29]:
text:"Clarusway"
test="{:>10}".format('text') #10 karakter saga dogru yaslar
test_2="{:<10}".format('text') #10 karakter sola yaslar
test_3="burada daha degisik {:>20} yontem ile ortada 20 karakter bosluk".format("text")
test_4='{:^20}'.format('abc') #'abc' stringini sagdan ve soldan 10'ar bosluk birakarak yaziyor
test_5='{:^20.5}'.format("Clarusway") #Clasrusway kelimesinin ilk 5 harfini aldi bosluk verdi
test_6='{:>20.5}'.format("Clarusway") #Clasrusway kelimesinin ilk 5 harfini aldi sag tarafa 20bosluk verdi
test_7='{:+}'.format(55) # 55 rakaminin basina + isareti koydu
print(test)
print(test_2)
print(test_3)
print(test_4)
print(test_5)
print(test_6)
print(test_7)

      text
text
burada daha degisik                 text yontem ile ortada 20 karakter bosluk
        abc
       Claru
               Claru
+55