<a href="https://colab.research.google.com/github/MK2709/my_colab_pyhton_exercises/blob/main/SelfStudy_WorkingWithFiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sea = open("fishes.txt", 'r')   # 'r' is for read

print(sea.read())  # displays the entire text content

sea.close()  # be sure to close the file

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [ ]:
sea = open("fishes.txt", 'r')   # 'r' is for read

content = sea.read()
print(len(content))
print(content)

sea.close()  # be sure to close the file

205
Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [ ]:
sea = open("fishes.txt", 'r')   

print(sea.read(33))  # displays the first 33 chars of the text
print()
print(sea.read(25))  # displays the next 25 chars of the text
print()
sea.seek(0)  # changes the stream (cursor) position to zero
print(sea.read(33))  # displays the first 33 chars again
print()
print(sea.tell())  # returns the current stream (cursor) position

sea.close()

Orca is a kind of Dolphin.
Blue W

hale is the largest anima

Orca is a kind of Dolphin.
Blue W

34

In [ ]:
sea = open("fishes.txt", 'r')   

print(sea.readline())  # displays the first line of the text
print(sea.readline())  # displays the second line
print(sea.readline())  # each time it goes to the new line

sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

In [ ]:
sea = open("fishes.txt", 'r')   

print(sea.readline(13))
print(sea.readline(13))
print(sea.readline(13))
print(sea.readline(13))

sea.close()

Orca is a kin
d of Dolphin.


Blue Whale is

In [ ]:
sea = open("fishes.txt", 'r')   

print(sea.readline())  # first line
print(sea.readlines())  # the rest of the lines

sea.close()

['Orca is a kind of Dolphin.\n', 'Blue Whale is the largest animal known on earth.\n', 'Sharks are the sister group to the Rays (batoids).\n', 'The Tuna Fish can weigh up to 260 kg.\n', 'Squid and Octopus are in the same class.']

In [ ]:
sea = open("fishes.txt", "r")
for i in sea:
  print (i)
sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [ ]:
sea = open("fishes.txt", 'r')   

for line in sea.readlines(): #burada da list olarak her satırı ayrı okuyoruz
    print(line)

sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [ ]:
with open("fishes.txt", "r") as sea:
    print(sea.read())  # needs indented code block

    #in this example we do not need to use close() cuz it closes itself auto

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

*****Buradan itibaren Joseph Hocanın Ders notları********

In [ ]:
import os #os modulu dosya ile pek çok fonksiyon kullanılabbilir. araştır

In [ ]:
dosya_içeriği=os.listdir()
dosya_içeriği

['.config', 'fishes.txt', 'sample_data']

In [ ]:
import shutil #shutill modulu dosya ile pek çok fonksiyon kullanılabbilir. araştır

shutil.make_archive("fishes.txt","zip","/content") #fishes.txt dosyasını "zip" formatında yaparak
                                                  # belirttiğimiz dosya oluna kayıt ediyor.

'/content/fishes.txt.zip'

In [ ]:
dosya_içeriği

['.config', 'fishes.txt', 'sample_data']

In [ ]:
with open("dummy_file.txt", 'w', encoding="utf-8") as file:  
# we create and open the file

    file.write('This is the first line of my text file')  
    # writes str data into the file

with open("dummy_file.txt", 'r', encoding="utf-8") as file:
    print(file.read())  # reads the content of the 'dummy_file'

This is the first line of my text file

In [ ]:
with open("dummy_file.txt","w", encoding="utf-8") as file:
  file.write("this is the new line of my dummy_file")    # we write new str data into it 

with open("dummy_file.txt","r", encoding="utf-8") as file:
  print(file.read()) # reads the content of the 'dummy_file'

this is the new line of my dummy_file

In [ ]:
with open("dummy_file.txt", 'w', encoding="utf-8") as file:
    file.write("My first Sentece, ")
    file.write("My Second Sentence, ")
    file.write("My Third Sentence, \n")
    file.write("My Fourth Sentence, ")
    file.write("My last/final sentence!!!")

with open("dummy_file.txt","r", encoding="utf-8") as file:
    print(file.read())

My first Sentece, My Second Sentence, My Third Sentence,
My Fourth Sentence, My last/final sentence!!!

In [ ]:
fruits=["Banana", "Orange","Apple", "Cherry"]

with open("fruits.txt","w", encoding="utf-8") as file:
  for i in fruits:
    file.write( i + "\n")
with open("fruits.txt", "r", encoding="utf-8") as file:
  print(file.read())
with open("fruits.txt","r", encoding="utf-8") as file:
  print(file.readlines())

Banana
Orange
Apple
Cherry

['Banana\n', 'Orange\n', 'Apple\n', 'Cherry\n']

In [ ]:
fruits=["Banana", "Orange","Apple", "Cherry"]

with open("fruits.txt","w", encoding="utf-8") as file:
  for i in fruits:
    file.write( i + "\t")
with open("fruits.txt", "r", encoding="utf-8") as file:
  print(file.read())
with open("fruits.txt","r", encoding="utf-8") as file:
  print(file.readlines())

Banana	Orange	Apple	Cherry
['Banana\tOrange\tApple\tCherry\t']

In [ ]:
fruits2=["Banana\n","Orange\n","Apple\n","Strawbeyy\n","Cherry\n"]


with open("fruits2.txt","w", encoding="utf-8") as file:
  file.writelines(fruits2)

with open("fruits2.txt", "r",encoding="utf-8") as file:
  print(file.read())
with open("fruits2.txt", "r", encoding="utf-8") as file:
  print(file.readlines())

Banana
Orange
Apple
Strawbeyy
Cherry

['Banana\n', 'Orange\n', 'Apple\n', 'Strawbeyy\n', 'Cherry\n']

In [ ]:
fruits2=["Banana\t","Orange\t","Apple\t","Strawbeyy\t","Cherry\t"]


with open("fruits2.txt","w", encoding="utf-8") as file:
  file.writelines(fruits2)

with open("fruits2.txt", "r",encoding="utf-8") as file:
  print(file.read())

with open("fruits2.txt", "r",encoding="utf-8") as file:
  print(file.readlines())

Banana	Orange	Apple	Strawbeyy	Cherry
['Banana\tOrange\tApple\tStrawbeyy\tCherry\t']

In [ ]:
##Write a code that inserts a newline char \n to between lines 
##of the text of the 'fishes.txt' file and reads the new content
##of that file. 

with open("fishes.txt","r", encoding="utf-8") as sea_2:
    fish_lines = sea_2.readlines()

with open("fishes.txt","w",encoding ="utf-8") as sea_2:
  for reef in fish_lines:
    sea_2.write(reef + "\n")

with open("fishes.txt", "r", encoding="utf-8") as sea_2:
    print(sea_2.read())
###bu souyuda cvbı da anlamadım#####

In [ ]:
fruits_3=['Banana\n', 'Orange\n', 'Apple\n', 'Peach\n', 'Strawberry\n', 'Cherry\n']

with open("fruits_3.txt","w",encoding="utf-8") as file: 
  file.writelines(fruits_3)  # creates a file containing the elements of the list

with open("fruits_3.txt","r", encoding="utf-8") as file:
  print(file.read()) # reads the content of the file

with open("fruits_3.txt", "a", encoding="utf-8") as file:
  file.write("Melon\n") # adds "Melon" to the end of the existing file
   
with open("fruits_3.txt","r", encoding="utf-8") as file:
  print(file.read())  # reads the last content of the file

with open("fruits_3.txt","r", encoding="utf-8") as file:
  print(file.readlines())  # reads the last content of the file in same line

Banana
Orange
Apple
Peach
Strawberry
Cherry

Banana
Orange
Apple
Peach
Strawberry
Cherry
Melon

['Banana\n', 'Orange\n', 'Apple\n', 'Peach\n', 'Strawberry\n', 'Cherry\n', 'Melon\n']


buradan itibaren Joseph hocanın 16/12/2021 tarihindeki dersindeki in-class exercises

In [ ]:
rumi= open("rumi.txt","r",encoding="utf=8")

print(rumi.read())

rumi.close()

I want to sing
Like the birds sing,
Not worrying about
Who hears or
What they think.

In [ ]:
rumi= open("rumi.txt","r",encoding="utf=8")

print(rumi.read(35))
#print(rumi.tell())
print(rumi.read(13))
print(rumi.tell())
rumi.seek(15)
print(rumi.read(21))
rumi.close()

I want to sing
Like the birds sing,

Not worrying
50

Like the birds sing,

In [ ]:
with open("rumi.txt","r", encoding="utf-8") as file :
  print(file.read())

I want to sing
Like the birds sing,
Not worrying about
Who hears or
What they think.

In [ ]:
rumi= open("rumi.txt","r",encoding="utf-8")
print(rumi.readline())
print(rumi.readline())
print(rumi.readline())

rumi.close()

I want to sing

Like the birds sing,

Not worrying about

In [ ]:
sea =open("fishes.txt","r", encoding="utf-8")

print(sea.readline())

sea.close()

Orca is a kind of Dolphin.

In [ ]:
sea_1=open("fishes.txt","r", encoding="utf-8")
part_1 = sea_1.readline(13)
part_2 = sea_1.readline(13)
part_3 = sea_1.readline(13)
part_4 = sea_1.readline(13)

print(sea_1.tell())

sea_1.close()

41

In [ ]:
part_3

'\n'

In [ ]:
rumi=open("rumi.txt", "r", encoding="utf-8")

print(rumi.readline())
print(rumi.readline())
print(rumi.readline(110)) #burada sayıyı ne kadar fazla yazarsanız yazın alt satıra 
                          #geçmez. alt satıra geçmek için yeni bir readline gerekli
rumi.close()

I want to sing

Like the birds sing,

Not worrying about

In [ ]:
rumi=open("rumi.txt", "r", encoding="utf-8")

for i in rumi.readline():
    print (i)
rumi.close()

I

w
a
n
t

t
o

s
i
n
g

In [ ]:
with open("fishes.txt","r", encoding="utf-8") as file_1 :
  fish_1=file_1.readlines()
print(fish_1)
print(type(fish_1))
print()
for line_1 in fish_1 :
  print(line_1)

['Orca is a kind of Dolphin.\n', 'Blue Whale is the largest animal known on earth.\n', 'Sharks are the sister group to the Rays (batoids).\n', 'The Tuna Fish can weigh up to 260 kg.\n', 'Squid and Octopus are in the same class.']
<class 'list'>

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [ ]:
with open("rumi.txt","r", encoding="utf-8") as file_2:
  for line_2 in file_2:
    print (line_2)

I want to sing

Like the birds sing,

Not worrying about

Who hears or

What they think.

In [ ]:
with open("dummy_file_1.txt", "w", encoding="utf-8") as dummy_1: #olmaya bir dosyayı açtı ve içerisine yazdı
  dummy_1.write("This is my first line of the dummy file")
with open("dummy_file_1.txt","r",encoding="utf-8") as dummy_1:
  print(dummy_1.read())

This is my first line of the dummy file

In [ ]:
with open("dummy_1.txt","w",encoding="utf-8") as dummy_1 : #burada yine 'w' ile eski dosyayı silip yenisini yazdı
  dummy_1.write("This is the NEW line of my dummy_1 file")
with open("dummy_1.txt","r", encoding="utf-8") as dummy_1:
  print(dummy_1.read())

This is the NEW line of my dummy_1 file

In [ ]:
with open("dummy_1.txt", "a", encoding="utf-8") as dummy_1 : #burada 'a' kullandığımız için yazdığımızı append etti
  dummy_1.write("\nand this is the second line of my Dummy line")
with open("dummy_1.txt","r", encoding="utf-8") as dummy_1:
  print(dummy_1.read())

This is the NEW line of my dummy_1 file
and this is the second line of my Dummy line

In [ ]:
meyveler=["Muz","Elma", "Armut","Portakal", "Mandalina","Greyfurt"]
with open ("Meyveler.txt","w", encoding="utf-8") as meyve_list:
  for meyve in meyveler :
    meyve_list.write(meyve + "\n")  
with open("Meyveler.txt","r", encoding="utf-8") as meyve_list:
  print(meyve_list.read())

Muz
Elma
Armut
Portakal
Mandalina
Greyfurt

In [ ]:
with open("Meyveler.txt") as file_22:
  meyveler_2=file_22.readlines () #burada readlines kullanarak liste halinde her bir eleman bir satır oalcak şekilde
meyveler_2

['Muz\n', 'Elma\n', 'Armut\n', 'Portakal\n', 'Mandalina\n', 'Greyfurt\n']

In [ ]:
with open("meyveler_2.txt", "w", encoding="utf-8") as meyve_list_2 :
  meyve_list_2.writelines(meyveler)
with open("meyveler_2.txt","r", encoding="utf-8")as meyve_list_2 :
     print(meyve_list_2.read())

MuzElmaArmutPortakalMandalinaGreyfurt

In [ ]:
with open("meyveler_2.txt", "w", encoding="utf-8") as meyve_list_2 :
  meyve_list_2.writelines(meyveler_2)  #bu kod blokunda meyveler_ hersatırı bir elaman olacak bir liste atıldığı için
with open("meyveler_2.txt","r", encoding="utf-8")as meyve_list_2 :
     print(meyve_list_2.read())

Muz
Elma
Armut
Portakal
Mandalina
Greyfurt

In [ ]:
with open("meyveler_2.txt", "a", encoding="utf-8") as meyve_list_2 : #burada 'a' kullanıldıgı için append yaptı
  meyve_list_2.writelines(meyveler_2)  #bu kod blokunda meyveler_ hersatırı bir elaman olacak bir liste atıldığı için
with open("meyveler_2.txt","r", encoding="utf-8")as meyve_list_2 :
     print(meyve_list_2.read())

Muz
Elma
Armut
Portakal
Mandalina
Greyfurt
Muz
Elma
Armut
Portakal
Mandalina
Greyfurt

In [ ]:
meyveler_3= meyveler_2+["Lemon\n"]
meyveler_3

['Muz\n',
 'Elma\n',
 'Armut\n',
 'Portakal\n',
 'Mandalina\n',
 'Greyfurt\n',
 'Lemon\n']

In [ ]:
with open("meyveler_3.txt", "w", encoding="utf-8") as meyve_list_3 :
  meyve_list_3.writelines(meyveler_3)  #bu kod blokunda meyveler_ hersatırı bir elaman olacak bir liste atıldığı için
with open("meyveler_3.txt","r", encoding="utf-8")as meyve_list_3 :
     print(meyve_list_3.read())

Muz
Elma
Armut
Portakal
Mandalina
Greyfurt
Lemon

In [ ]:
with open("meyveler_3.txt", "a", encoding="utf-8") as meyve_list_3 : #burada 'a' kullanıldıgı için append yaptı
  meyve_list_3.writelines(meyveler_3)  #bu kod blokunda meyveler_ hersatırı bir elaman olacak bir liste atıldığı için
with open("meyveler_3.txt","r", encoding="utf-8")as meyve_list_3 :
     print(meyve_list_3.read())

Muz
Elma
Armut
Portakal
Mandalina
Greyfurt
Lemon
Muz
Elma
Armut
Portakal
Mandalina
Greyfurt
Lemon

In [ ]:
with open("istiklal.txt","r", encoding="utf-8") as istiklal_22:
  istiklal_2=istiklal_22.readlines () #burada readlines kullanarak liste halinde her bir eleman bir satır oalcak şekilde
istiklal_2

['Korkma, sönmez bu şafaklarda yüzen al sancak;\n',
 'Sönmeden yurdumun üstünde tüten en son ocak.\n',
 'O benim milletimin yıldızıdır, parlayacak;\n',
 'O benimdir, o benim milletimindir ancak.\n',
 'Çatma, kurban olayım, çehreni ey nazlı hilal!\n',
 'Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?\n',
 'Sana olmaz dökülen kanlarımız sonra helal...\n',
 "Hakkıdır, hakk'a tapan, milletimin istiklal!\n",
 'Ben ezelden beridir hür yaşadım, hür yaşarım.\n',
 'Hangi çılgın bana zincir vuracakmış? Şaşarım!\n',
 'Kükremiş sel gibiyim, bendimi çiğner, aşarım.\n',
 'Yırtarım dağları, enginlere sığmam, taşarım.\n',
 'Garbın afakını sarmışsa çelik zırhlı duvar,\n',
 'Benim iman dolu göğsüm gibi serhaddim var.\n',
 'Ulusun, korkma! Nasıl böyle bir imanı boğar,\n',
 "'Medeniyet!' dediğin tek dişi kalmış canavar?\n",
 'Arkadaş! Yurduma alçakları uğratma, sakın.\n',
 'Siper et gövdeni, dursun bu hayasızca akın.\n',
 "Doğacaktır sana va'dettigi günler hakk'ın...\n",
 'Kim bilir, belki yarın, belki yarından da yakın.\n',
 "Bastığın yerleri 'toprak!' diyerek geçme, tanı:\n",
 'Düşün altında binlerce kefensiz yatanı.\n',
 'Sen şehit oğlusun, incitme, yazıktır, atanı:\n',
 'Verme, dünyaları alsan da, bu cennet vatanı.\n',
 'Kim bu cennet vatanın uğruna olmaz ki feda?\n',
 'Şuheda fışkıracak toprağı sıksan, şuheda!\n',
 'Canı, cananı, bütün varımı alsın da hüda,\n',
 'Etmesin tek vatanımdan beni dünyada cüda.\n',
 'Ruhumun senden, ilahi, şudur ancak emeli:\n',
 'Değmesin mabedimin göğsüne namahrem eli.\n',
 'Bu ezanlar-ki şahadetleri dinin temeli,\n',
 'Ebedi yurdumun üstünde benim inlemeli.\n']

In [ ]:
counter = 0
with open ("istiklal_new.txt", "w", encoding="utf-8") as new_file_22:
  for i in istiklal_2:             
    counter +=1
    if counter % 4==0 :        #burada her dört satırda kıta olarak ayırıyoruz.
      new_file_22.write(i+'\n')

    else :
      new_file_22.write(i)

with open("istiklal_new.txt","r",encoding="utf-8") as new_file_22 :
  print(new_file_22.read())

Korkma, sönmez bu şafaklarda yüzen al sancak;
Sönmeden yurdumun üstünde tüten en son ocak.
O benim milletimin yıldızıdır, parlayacak;
O benimdir, o benim milletimindir ancak.

Çatma, kurban olayım, çehreni ey nazlı hilal!
Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?
Sana olmaz dökülen kanlarımız sonra helal...
Hakkıdır, hakk'a tapan, milletimin istiklal!

Ben ezelden beridir hür yaşadım, hür yaşarım.
Hangi çılgın bana zincir vuracakmış? Şaşarım!
Kükremiş sel gibiyim, bendimi çiğner, aşarım.
Yırtarım dağları, enginlere sığmam, taşarım.

Garbın afakını sarmışsa çelik zırhlı duvar,
Benim iman dolu göğsüm gibi serhaddim var.
Ulusun, korkma! Nasıl böyle bir imanı boğar,
'Medeniyet!' dediğin tek dişi kalmış canavar?

Arkadaş! Yurduma alçakları uğratma, sakın.
Siper et gövdeni, dursun bu hayasızca akın.
Doğacaktır sana va'dettigi günler hakk'ın...
Kim bilir, belki yarın, belki yarından da yakın.

Bastığın yerleri 'toprak!' diyerek geçme, tanı:
Düşün altında binlerce kefensiz yatanı.
Sen şehit oğlusun, incitme, yazıktır, atanı:
Verme, dünyaları alsan da, bu cennet vatanı.

Kim bu cennet vatanın uğruna olmaz ki feda?
Şuheda fışkıracak toprağı sıksan, şuheda!
Canı, cananı, bütün varımı alsın da hüda,
Etmesin tek vatanımdan beni dünyada cüda.

Ruhumun senden, ilahi, şudur ancak emeli:
Değmesin mabedimin göğsüne namahrem eli.
Bu ezanlar-ki şahadetleri dinin temeli,
Ebedi yurdumun üstünde benim inlemeli.

In [ ]:
with open("new_meyve.csv","r", encoding="utf-8") as sepet_1:
  print(sepet_1.read())

﻿no,fruit,amount
1,Banana,4 lb
2,Orange,5 lb
3,Apple,2 lb
4,Strawberry,6 lb
5,Cherry,3 lb

In [ ]:
import csv

In [ ]:
import csv
with open("new_meyve.csv", 'r', newline ='', encoding = 'utf-8') as new_sepet:
    csv_rows = csv.reader(new_sepet)  # reader() function takes each
                                 # row (lines) into a list
    for row in csv_rows: 
        print(row)

['no', 'fruit', 'amount']
['1', 'Banana', '4 lb']
['2', 'Orange', '5 lb']
['3', 'Apple', '2 lb']
['4', 'Strawberry', '6 lb']
['5', 'Cherry', '3 lb']

In [ ]:
print (row[1:2]) #burada oluşturduğumuz listenin içerisidne gezinebiliyoruz

['Cherry']

In [ ]:
import csv
with open("new_meyve.csv", 'r', newline ='', encoding = 'utf-8') as new_sepet:
    csv_rows = csv.reader(new_sepet, delimiter =",")  # rbir önceki örnek ile aynı sonucu verir
                                 # delimeter ifadesinin default degeri virgüldür
    for row in csv_rows: 
        print(row)

['no', 'fruit', 'amount']
['1', 'Banana', '4 lb']
['2', 'Orange', '5 lb']
['3', 'Apple', '2 lb']
['4', 'Strawberry', '6 lb']
['5', 'Cherry', '3 lb']

In [ ]:
import csv
with open("new_meyve.csv", 'r', newline ='', encoding = 'utf-8') as new_sepet:
    csv_rows = csv.reader(new_sepet, delimiter =":")  # bir önceki örnek ile farklı sonucu verir
                                 # delimeter ifadesinin default degeri değiştiğinde 
                                 # satırı tekbir string halinde yazr
                                 
    for row in csv_rows: 
        print(row)

['no,fruit,amount']
['1,Banana,4 lb']
['2,Orange,5 lb']
['3,Apple,2 lb']
['4,Strawberry,6 lb']
['5,Cherry,3 lb']

In [ ]:
print (row[0:1]) #delimiter ifadesini değiştirdikten sonra elde edilen bütün halilndeki string

['5,Cherry,3 lb']