<a href="https://colab.research.google.com/github/MK2709/my_colab_pyhton_exercises/blob/main/SelfStudy_WorkingWithFiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
sea = open("fishes.txt", 'r')   # 'r' is for read

print(sea.read())  # displays the entire text content

sea.close()  # be sure to close the file

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [3]:
sea = open("fishes.txt", 'r')   

print(sea.read(33))  # displays the first 33 chars of the text
print()
print(sea.read(25))  # displays the next 25 chars of the text
print()
sea.seek(0)  # changes the stream (cursor) position to zero
print(sea.read(33))  # displays the first 33 chars again
print()
print(sea.tell())  # returns the current stream (cursor) position

sea.close()

Orca is a kind of Dolphin.
Blue W

hale is the largest anima

Orca is a kind of Dolphin.
Blue W

34

In [8]:
sea = open("fishes.txt", 'r')   

print(sea.readline())  # displays the first line of the text
print(sea.readline())  # displays the second line
print(sea.readline())  # each time it goes to the new line

sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

In [9]:
sea = open("fishes.txt", 'r')   

print(sea.readline(13))
print(sea.readline(13))
print(sea.readline(13))
print(sea.readline(13))

sea.close()

Orca is a kin
d of Dolphin.


Blue Whale is

In [18]:
sea = open("fishes.txt", 'r')   

print(sea.readline())  # first line
print(sea.readlines())  # the rest of the lines

sea.close()

['Orca is a kind of Dolphin.\n', 'Blue Whale is the largest animal known on earth.\n', 'Sharks are the sister group to the Rays (batoids).\n', 'The Tuna Fish can weigh up to 260 kg.\n', 'Squid and Octopus are in the same class.']

In [19]:
sea = open("fishes.txt", "r")
for i in sea:
  print (i)
sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [20]:
sea = open("fishes.txt", 'r')   

for line in sea.readlines(): #burada da list olarak her satırı ayrı okuyoruz
    print(line)

sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [21]:
with open("fishes.txt", "r") as sea:
    print(sea.read())  # needs indented code block

    #in this example we do not need to use close() cuz it closes itself auto

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

*****Buradan itibaren Joseph Hocanın Ders notları********

In [22]:
import os #os modulu dosya ile pek çok fonksiyon kullanılabbilir. araştır

In [25]:
dosya_içeriği=os.listdir()
dosya_içeriği

['.config', 'fishes.txt', 'sample_data']

In [29]:
import shutil #shutill modulu dosya ile pek çok fonksiyon kullanılabbilir. araştır

shutil.make_archive("fishes.txt","zip","/content") #fishes.txt dosyasını "zip" formatında yaparak
                                                  # belirttiğimiz dosya oluna kayıt ediyor.

'/content/fishes.txt.zip'

In [28]:
dosya_içeriği

['.config', 'fishes.txt', 'sample_data']

In [30]:
with open("dummy_file.txt", 'w', encoding="utf-8") as file:  
# we create and open the file

    file.write('This is the first line of my text file')  
    # writes str data into the file

with open("dummy_file.txt", 'r', encoding="utf-8") as file:
    print(file.read())  # reads the content of the 'dummy_file'

This is the first line of my text file

In [40]:
with open("dummy_file.txt","w", encoding="utf-8") as file:
  file.write("this is the new line of my dummy_file")    # we write new str data into it 

with open("dummy_file.txt","r", encoding="utf-8") as file:
  print(file.read()) # reads the content of the 'dummy_file'

this is the new line of my dummy_file

In [52]:
with open("dummy_file.txt", 'w', encoding="utf-8") as file:
    file.write("My first Sentece, ")
    file.write("My Second Sentence, ")
    file.write("My Third Sentence, \n")
    file.write("My Fourth Sentence, ")
    file.write("My last/final sentence!!!")

with open("dummy_file.txt","r", encoding="utf-8") as file:
    print(file.read())

My first Sentece, My Second Sentence, My Third Sentence,
My Fourth Sentence, My last/final sentence!!!

In [54]:
fruits=["Banana", "Orange","Apple", "Cherry"]

with open("fruits.txt","w", encoding="utf-8") as file:
  for i in fruits:
    file.write( i + "\n")
with open("fruits.txt", "r", encoding="utf-8") as file:
  print(file.read())
with open("fruits.txt","r", encoding="utf-8") as file:
  print(file.readlines())

Banana
Orange
Apple
Cherry

['Banana\n', 'Orange\n', 'Apple\n', 'Cherry\n']

In [55]:
fruits=["Banana", "Orange","Apple", "Cherry"]

with open("fruits.txt","w", encoding="utf-8") as file:
  for i in fruits:
    file.write( i + "\t")
with open("fruits.txt", "r", encoding="utf-8") as file:
  print(file.read())
with open("fruits.txt","r", encoding="utf-8") as file:
  print(file.readlines())

Banana	Orange	Apple	Cherry
['Banana\tOrange\tApple\tCherry\t']

In [61]:
fruits2=["Banana\n","Orange\n","Apple\n","Strawbeyy\n","Cherry\n"]


with open("fruits2.txt","w", encoding="utf-8") as file:
  file.writelines(fruits2)

with open("fruits2.txt", "r",encoding="utf-8") as file:
  print(file.read())
with open("fruits2.txt", "r", encoding="utf-8") as file:
  print(file.readlines())

Banana
Orange
Apple
Strawbeyy
Cherry

['Banana\n', 'Orange\n', 'Apple\n', 'Strawbeyy\n', 'Cherry\n']

In [62]:
fruits2=["Banana\t","Orange\t","Apple\t","Strawbeyy\t","Cherry\t"]


with open("fruits2.txt","w", encoding="utf-8") as file:
  file.writelines(fruits2)

with open("fruits2.txt", "r",encoding="utf-8") as file:
  print(file.read())

with open("fruits2.txt", "r",encoding="utf-8") as file:
  print(file.readlines())

Banana	Orange	Apple	Strawbeyy	Cherry
['Banana\tOrange\tApple\tStrawbeyy\tCherry\t']

In [ ]:
##Write a code that inserts a newline char \n to between lines 
##of the text of the 'fishes.txt' file and reads the new content
##of that file. 

with open("fishes.txt","r", encoding="utf-8") as sea_2:
    fish_lines = sea_2.readlines()

with open("fishes.txt","w",encoding ="utf-8") as sea_2:
  for reef in fish_lines:
    sea_2.write(reef + "\n")

with open("fishes.txt", "r", encoding="utf-8") as sea_2:
    print(sea_2.read())
###bu souyuda cvbı da anlamadım#####

In [73]:
fruits_3=['Banana\n', 'Orange\n', 'Apple\n', 'Peach\n', 'Strawberry\n', 'Cherry\n']

with open("fruits_3.txt","w",encoding="utf-8") as file: 
  file.writelines(fruits_3)  # creates a file containing the elements of the list

with open("fruits_3.txt","r", encoding="utf-8") as file:
  print(file.read()) # reads the content of the file

with open("fruits_3.txt", "a", encoding="utf-8") as file:
  file.write("Melon\n") # adds "Melon" to the end of the existing file
   
with open("fruits_3.txt","r", encoding="utf-8") as file:
  print(file.read())  # reads the last content of the file

with open("fruits_3.txt","r", encoding="utf-8") as file:
  print(file.readlines())  # reads the last content of the file in same line

Banana
Orange
Apple
Peach
Strawberry
Cherry

Banana
Orange
Apple
Peach
Strawberry
Cherry
Melon

['Banana\n', 'Orange\n', 'Apple\n', 'Peach\n', 'Strawberry\n', 'Cherry\n', 'Melon\n']